/* =============================================================================
#     FileName: codepiano.css
#         Desc: stylesheet for blog
#       Author: codepiano
#        Email: anyexingchen999@qq.com
#     HomePage: http://www.weibo.com/anyexingchen
#      Version: 0.0.1
#   LastChange: 2013-05-12 01:39:46
#      History:
============================================================================= */

@charset "utf-8";

/* a标签样式 */
a {
  text-decoration: none;
}

a:link {
  color: #1077BC;
}

a:hover {
  color: #FF9900;
  text-decoration: none;
}

a:active {
  color: #FF6699;
  text-decoration: none;
}

a:visited {
  color: #FF6699;
}

/* 主页中央区域 */
html, body, div.wrapper {
  height: 100%;
  background-color: #F3F3F3;
}

/* 段落样式 */
.paragraph {
  font-size: 15px;
  text-indent: 2em;
}

/* font-awesome post信息按钮样式 */
.icon-folder-open, .icon-tags, .icon-calendar {
  color:#A84365;
}

.icon-double-angle-right {
  color: #FF6699;
}

/* 自定义高亮样式 */
.highlight pre,code {
  font-size: 15px;
  background-color: #002B36;
  color:#93A1A1;
}

/* 覆盖bootstrap导航条设置 */
a.brand {
  height: auto;
}

.navbar ul.nav {
  padding: 15px 20px 15px;
  height:auto;
}

.navbar>.navbar-inner{
  padding-left: 0px;
}

/* 覆盖导航条激活菜单的背景色设置 */
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  background-color: transparent;
  box-shadow:none;
}

.navbar .nav>.active>a {
  color:#EC6197; 
}

/* 覆盖typo.css中ul默认的margin-left属性 */
ul.tag_box {
  margin-left: 0;
}

ul.tag_box > li:first-child {
  padding-left: 0px;
}

/* 标题栏文字样式 */
.site-title {
  font-size: 14px;
  color: #1B813F;
}

.site-author {
  font-size: 28px;
  color: #169FDE;
}

/* 底部div定位 */
div.wrapper>div.typo{
  padding-bottom: 60px;
}

/* 底栏div样式 */
div.bottom {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

/* 底栏声明链接样式 */
a.license {
  color:#5E6087;
}

/* 解决typo.css覆盖bootstrap的li.list-style */
ul.nav.nav-tabs {
  list-style: none;
}

/* 技术支持列表样式 */
ul#support {
  margin-top: 10px;
}

.dispear {
  border-color: #F3F3F3;
}

ul#support.dispear>li {
  display:none;
}

ul#support.dispear>li:first-child {
  display:block;
}

ul#support.dispear>li>a {
  border-color: #F3F3F3;
  color: #F3F3F3;
}

ul#support.dispear>li>a:hover {
  background-color: transparent;
}


ul#support.dispear>li:first-child>a:hover {
  color: #CC527A;
}

ul#support.dispear>li:first-child>a>i.icon-star-empty {
  color: #F3F3F3;
}

ul#support.dispear>li:first-child>a:hover>i.icon-star-empty {
  color: #E8175D;
}

#support.show a:visited,ul#support.show a:link,ul#support.show a:active,ul#support.show a:hover {
  color: #CC527A;
}

.icon-ok, .icon-star-empty {
  color: #E8175D;
}

ul#support.show {
  border-color: #F3F3F3;
}

ul#support.show li {
  display:block;
}

ul#support.show a {
  border-color: #DDDDDD;
  color:#CC527A;
}

/* 文章日期样式 */
.post-date {
  color: #1077BC;
}

/* Datatable设置,应用bootstrap样式 */
table#post-data {
  border-spacing:0;
  border-collapse:collapse;
}

div.row {
  margin-left: 0px;
}




