/* =============================================================================
#     FileName: codepiano.css
#         Desc: stylesheet for blog
#       Author: codepiano
#        Email: anyexingchen999@qq.com
#     HomePage: http://www.weibo.com/anyexingchen
#      Version: 0.0.1
#   LastChange: 2013-05-07 22:31:21
#      History:
============================================================================= */

@charset "utf-8";

/* a标签样式 */
a {
  text-decoration: none;
}

a:link {
  color: #1077BC;
}

a:hover {
  color: #FF9900;
  text-decoration: none;
}

a:active {
  color: #FF6699;
  text-decoration: none;
}

a:visited {
  color: #FF6699;
}

/* 主页中央区域 */
html, body {
  background-color: #F2F2F2;
}

/* 段落样式 */
.paragraph {
  font-size: 15px;
  text-indent: 2em;
}

/* font-awesome post信息按钮样式 */
.icon-folder-open, .icon-tags, .icon-calendar {
  color:#A84365;
}

.icon-double-angle-right {
  color: #FF6699;
}

/* 自定义高亮样式 */
.highlight pre,code {
  font-size: 15px;
  background-color: #002B36;
  color:#93A1A1;
}

/* 覆盖bootstrap导航条设置 */
a.brand {
  height: auto;
}

.navbar ul.nav {
  padding: 15px 20px 15px;
  height:auto;
}

/* 覆盖typo.css中ul的margin-left属性 */
ul.tag_box {
  margin-left: 0;
}

ul.tag_box > li:first-child {
  padding-left: 0px;
}

/* 标题栏样式 */
.site-title {
  font-size: 14px;
  color: #1B813F;
}

.site-author {
  font-size: 28px;
  color: #169FDE;
}
