---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}

<h2 id="">关于我</h2>

<ul>
<li>大众版</li>
</ul>

<p>Android开发者 + Ruby语言爱好者 + Google脑残粉，爱技术，爱尝鲜，爱开源，爱设计，也爱赚钱！ 热爱并沉溺于移动互联网，Want to make a good app!</p>

<p>如果想更多的了解我，看这里<a href="http://stormzhang.com/my-progress">我的大事记</a></p>

<ul>
<li>Ruby版</li>
</ul>

{% highlight ruby %}
name = 'Storm'
real_name = '张奇'
description = 'Android Developer, Google Fans, Love Open Source'
company = '薄荷科技'

sina_weibo = 'googdev'
email = 'stormzhang.dev$#mail.com'.gsub('$#', '@')
blog = 'http://stormzhang.com'
github = 'https://github.com/stormzhang'

while true
  programing
  reading
  enjoying
end
{% endhighlight %}

<h2 id="_2">联系我</h2>

<ul>
<li>
<p>GitHub: <a href="https://github.com/stormzhang">stormzhang</a></p>
</li>

<li>
<p>微博: <a href="http://weibo.com/zhangqi8">googdev</a></p>
</li>

<li>
<p>知乎: <a href="http://www.zhihu.com/people/stormzhang">stormzhang</a></p>
</li>

<li>
<p>博客订阅地址: http://stormzhang.github.io/rss.xml</p>
</li>

<li>
<p>微信公众号: AndroidDeveloper (专注Android干货分享)</p>
<img src="/image/weixinpublic.jpg" />
</li>
<br />

<li>
<p>打赏我：如果觉得我的博客，或者我的各种分享对您有帮助，不妨支付宝扫描打赏我杯咖啡吧，我将更有动力。</p>
<img src="/image/zhifubao.jpg" />
</li>

<br />
<hr>
<div id="comment-hook"></div>
{% include custom/duoshuo.html %}
