---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    关于
  </h2>
  <p class="about">
    还没想好写什么
  </p>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/cnmahj">cnmahj @ GitHub</a></td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-weibo"></i> <span>我的微博</span></td>
        <td><a href="http://www.weibo.com/cnmahj">cnmahj - 新浪微博</a> </td>
      </tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>我的邮箱</span></td>
        <td><a href="mailto:cnmahj@gmail.com">cnmahj @ Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
