---
layout: page
title: 关于
header: about me
group: navigation
index: 4
---
{% include codepiano/setup %}
<div>
  <h2>
    关于我
  </h2>
  <div class="content">
      <div class='highlight'><pre><code class='ruby'><span class='nb'>name</span> <span class='o'>=</span> <span class='s1'>&#39;Storm&#39;</span>
<span class='n'>real_name</span> <span class='o'>=</span> <span class='s1'>&#39;张奇&#39;</span>
<span class='n'>description</span> <span class='o'>=</span> <span class='s1'>&#39;Android Developer, Google Fans, Love Open Source&#39;</span>

<span class='n'>email</span> <span class='o'>=</span> <span class='s1'>&#39;zhangqi.dev$#qq.com&#39;</span><span class='o'>.</span><span class='n'>gsub</span><span class='p'>(</span><span class='s1'>&#39;$#&#39;</span><span class='p'>,</span> <span class='s1'>&#39;@&#39;</span><span class='p'>)</span>
<span class='n'>blog</span> <span class='o'>=</span> <span class='s1'>&#39;http://stormzhang.github.io&#39;</span>
<span class='n'>github</span> <span class='o'>=</span> <span class='s1'>&#39;https://github.com/stormzhang&#39;</span>

<span class='k'>while</span> <span class='kp'>true</span>
  <span class='n'>programing</span>
  <span class='n'>reading</span>
  <span class='n'>enjoying</span>
<span class='k'>end</span>
</code></pre></div>
    </div>
  <h2>
    链接
  </h2>
  <table class="table table-striped" id="about-me">
    <tbody>
      <tr>
        <td class="span3"><i class="icon-github"> </i><span>我的github</span></td>
        <td><a href="https://github.com/stormzhang">stormzhang @ GitHub</a></td>
      </tr>
      <tr>
      <tr>
        <td class="span3"><i class="icon-envelope"></i> <span>Gmail邮箱</span></td>
        <td><a href="mailto:stormzhang.dev@gmail.com">stormzhang @ Gmail</a> </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<br />
<div id="comment-hook"></div>
{% include codepiano/comments %}
