---
layout: page
title: 分类
header: Posts By Category
group: navigation
index: 3
---
{% include codepiano/setup %}
<div class="tabbable tabs-right row-fluid">
  <ul class="nav nav-tabs" id="categories-nav">
    {% assign site_categories = site.categories %}
    {% include codepiano/anchor_of_categories %}
  </ul>

  <div class="tab-content">
    {% for category in site.categories %} 
    <div class="tab-pane" id="{{ category[0] }}-ref">
      <ul class="posts-list">
        {% assign posts_list = category[1] %}  
        {% include codepiano/posts_of_category %}
      </ul>
    </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
    google_ad_client = "ca-pub-3459740779968123";
    google_ad_slot = "2410348697";
    google_ad_width = 728;
    google_ad_height = 90;
</script>
<!-- test -->
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

