---
layout: index
title: Jun's Blog
---
{% include codepiano/setup %}
<!-- 按照分页插入博客文章 -->
{% for post in paginator.posts %}
  <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div class="post_info">
  {% unless post.categories == empty %}
  <ul class="tag_box inline">
    <li><i class="icon-calendar"></i></li>
    <li id="post-date">{{ post.date | date: " %Y 年 %m 月 %d 日" }}</li>
    <li><i class="icon-folder-open"></i></li>
    {% assign post_categories = post.categories %}
    {% include codepiano/post_categories_info %}
  </ul>
  {% endunless %}  
  <span> 
  </div>
  <div class="archive">
    {{ post.content }}
  </div>
  <hr />
  {% endfor %}

  <!-- 分页页码展示 -->
  <div id="post-pagination" class="pagination pagination-centered">
    <ul>
      <!-- 上一页按钮 -->
      {% if paginator.previous_page %}
      <li>
        {% if paginator.previous_page == 1 %}
        <a href="/"><i class="icon-chevron-left"></i></a>
        {% else %}
        <a href="/page{{ paginator.previous_page }}"><i class="icon-chevron-left"></i></a>
        {% endif %}
      </li>
      {% else %}
      <li class="disabled">
      <span><i class="icon-chevron-left"></i></span>
      </li>
      {% endif %}

      <!-- 第一页,访问根目录 -->
      {% if paginator.page == 1 %}
      <li class="active">
      <a href="#">1</a>
      </li>
      {% else %}
      <li>
      <a href="/">1</a>
      </li>
      {% endif %}

      {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li class="active">
      <a href="#">{{ count }}</a>
      </li>
      {% else %}
      <li>
      <a href="/page{{ count }}">{{ count }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li>
      <a href="/page{{ paginator.next_page }}"><i class="icon-chevron-right"></i></a>
      </li>
      {% else %}
      <li class="disabled">
      <a href="#"><i class="icon-chevron-right"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
