<div class="row-fluid post-full typo">
  <div class="span2"></div>
  <div class="span8 typo">
    <h2>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
    <div class="post_info">
      {% unless page.categories == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-calendar"></i></li>
        <li>{{ page.date | date: " %Y 年 %m 月 %d 日" }}</li>
        <li><i class="icon-folder-open"></i></li>
        {% assign post_categories = page.categories %}
        {% include codepiano/post_categories_info %}
      </ul>
      {% endunless %}  
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include codepiano/tags_list %}
    </ul>
    {% endunless %}  

    <hr>
    <div class="pagination pull-right">
      <ul>
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.codepiano.archive_path }}">Archive</a></li>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
      </ul>
    </div>
    <br />
    <div id="comment-hook"></div>
    {% include codepiano/comments %}
  </div>
  <div class="span2"></div>
</div>
